:stylus
  .nz-button, .nz-fab
    margin-right: 10px

//- h1 Heading 1
//- h2 Heading 2
//- h3 Heading 3
//- h4 Heading 4
//- h5 Heading 5
//- h6 Heading 6
//- .nz-title subtitle1
//- .nz-subtitle subtitle2
//- caption caption

//- h1 Transparent buttons

//- button.nz-button Default
//- button.nz-button(color="primary") Primary
//- button.nz-button(color="accent") Accent
//- button.nz-button(color="warn") warn
//- button.nz-button(color="critical") critical
//- button.nz-button(color="confirm") confirm
//- button.nz-button(color="info") info

//- h1 Transparent buttons / raised

//- button.nz-button Default
//- button.nz-button(color="primary" variant="raised") Primary
//- button.nz-button(color="accent" variant="raised") Accent
//- button.nz-button(color="warn" variant="raised") warn
//- button.nz-button(color="critical" variant="raised") critical
//- button.nz-button(color="confirm" variant="raised") confirm
//- button.nz-button(color="info" variant="raised") info

//- h2 Flat buttons

//- button.nz-button(variant="filled") Default
//- button.nz-button(color="primary" variant="filled") Primary
//- button.nz-button(color="accent" variant="filled") Accent
//- button.nz-button(color="warn" variant="filled") warn
//- button.nz-button(color="critical" variant="filled") critical
//- button.nz-button(color="confirm" variant="filled") confirm
//- button.nz-button(color="info" variant="filled") info

//- h2 Flat buttons / raised

//- button.nz-button(variant="filled") Default
//- button.nz-button(color="primary" variant="filled raised") Primary
//- button.nz-button(color="accent" variant="filled raised") Accent
//- button.nz-button(color="warn" variant="filled raised") warn
//- button.nz-button(color="critical" variant="filled raised") critical
//- button.nz-button(color="confirm" variant="filled raised") confirm
//- button.nz-button(color="info" variant="filled raised") info

//- h2 Fab

//- button.nz-fab(variant="raised") D
//- button.nz-fab(color="primary" variant="filled raised medium") PRI
//- button.nz-fab(color="accent" variant="filled raised medium") Acc
//- button.nz-fab(color="warn" variant="filled raised medium") warn
//- button.nz-fab(color="critical" variant="filled raised medium") crit
//- button.nz-fab(color="confirm" variant="filled raised medium") conf
//- button.nz-fab(color="info" variant="filled raised medium") info


//- .nz-card(style="width: 300px; margin: 20px")
//-   .nz-card-header
//-     .nz-avatar(src="...")
//-     .nz-title Valami
//-     .nz-subtitle Valami 2
//-     button.nz-icon-button(icon="dsfds") D

//-   img.nz-card-media(src="https://picsum.photos/300/200/?random")
//-   p.nz-card-content.
//-     The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.

//-   .nz-card-actions
//-     button.nz-button Let's DO THIS!
//-     button.nz-button(color="critical") DELETE


//- .nz-card(style="width:300px")
//-   img.nz-card-media(src="https://picsum.photos/300/200/?random")

//-   .nz-card-actions
//-     button.nz-button Let's DO THIS!
//-     button.nz-button(color="critical") DELETE

//-     button.nz-icon-button(icon="dsfds") D


//- .nz-form-field
//-   label Csoda Label
//-   input.nz-input(placeholder="Placeholder")

//- .nz-form-field
//-   .nz-prefix Prefix
//-   input.nz-input(id="my-id")
//-   .nz-postfix Postfix


//- form([formGroup]="form")
//-   .nz-form-field
//-     label Csoda Label
//-     input.nz-input(formControlName="testInput")
//-     caption Ez így elég királyságos...


//- .nz-panel-wrapper
//-   .nz-panel(position="left" appear="over" #sidePanel1)
//-     div Sidepanel 1 tartalom

//-   .nz-panel(position="left" #sidePanel2)
//-     div Sidepanel 2 tartalom

//-   div(style="padding-left:200px")
//-     div Valami fő tartalom
//-     .nz-button(on-click="sidePanel1.opened=!sidePanel1.opened" color="critical") Nyitó gomb 1
//-     .nz-button(on-click="sidePanel2.opened=!sidePanel2.opened" color="critical") Nyitó gomb 2


//- .nz-button(on-click="selected[0]=!selected[0]") Toggle 1
//- .nz-button(on-click="selected[1]=!selected[1]") Toggle 2
//- .nz-button(on-click="selected[2]=!selected[2]") Toggle 3
//- .nz-button(on-click="selected[3]=!selected[3]") Toggle 4
//- .nz-button(on-click="selected[4]=!selected[4]") Toggle 5
//- .nz-button(on-click="hideXyz=!hideXyz") Toggle Hidden
//- .nz-button(on-click="selected[5]=!selected[5]") Toggle 6

//- ul.nz-list(style="width:400px" selection="single" on-selection="onSelectionChange($event)" maintain-selection #wtf="selection")
//-   li.nz-list-item(on-selected="log('event ok', $event)" selectable [selected]="selected[0]")  1. item
//-     .nz-ripple(color="primary")
//-   li.nz-list-item(on-selected="log('event ok', $event)" selectable [selected]="selected[1]") 2. item
//-   li.nz-list-item(on-selected="log('event ok', $event)" selectable [selected]="selected[2]")  3. item
//-   li.nz-list-item(on-selected="log('event ok', $event)" selectable [selected]="selected[3]") 4. item
//-   li.nz-list-item(on-selected="log('event ok', $event)" selectable [selected]="selected[4]")  5. item
//-   li.nz-list-item(selection-id="pont-az" on-selected="log('event ok', $event)" color="critical" "*ngIf"="!hideXyz" selectable [selected]="selected[5]")  Hidden

//- div(*ngFor="let selected of wtf.items")
//-   h6 {{ selected.selectionId }}

//-  on-focused="sidepanel.opened=$event!==null"

.nz-drawer.nz-sidenav(style="height: 500px")
  .nz-panel(position="left" variant="raised" #sidepanel)
    a.nz-sidenav-link(routerLink="/test-screen-1")
      i.nz-icon(class=icon("mdi/format-paint"))
      span DataGrid
    a.nz-sidenav-link(routerLink="/test-screen-1")
      i.nz-icon(class=icon("mdi/freebsd"))
      span test-screen-1 X
    a.nz-sidenav-link(routerLink="/test-screen-2")
      i.nz-icon(class=icon("mdi/gas-station"))
      span test-screen-2

  .nz-panel(position="left" #sidepanel2)
    p EZ A MÁSIK PANEL FUCK THAT

  .nz-panel(position="right" #sidepanel3)
    p RIGHT PANEL

  .nz-content(style="padding-left:400px")
    button.nz-button(on-click="sidepanel.opened=!sidepanel.opened" color="critical" bariant="filled")
      i.nz-icon(class=icon("mdi/gmail"))
      span Toggle Nav
    button.nz-button(on-click="sidepanel2.opened=!sidepanel2.opened")
      span Toggle Nav 2
      i.nz-icon(class=icon("mdi/gpu"))
    button.nz-button(on-click="sidepanel3.opened=!sidepanel3.opened") Toggle Nav 3
    button.nz-fab(color="critical")
      i.nz-icon(class=icon("mdi/git"))
    button.nz-fab(color="critical" variant="filled")
      i.nz-icon(class=icon("mdi/git"))

    //- .nz-card(style="width:800px;height:400px")
    //-   .nz-data-grid([data-source]="users" style="position: absolute;top:0px;right:0px;bottom:0px;left:0px;")
    //-     .nz-columns
    //-       .nz-column(width="40px")
    //-         label I
    //-         ng-template(#content let-index="index") {{ index }}
    //-       .nz-column(sortable="firstName" width="250px")
    //-         label Név
    //-         ng-template(#content let-data) {{ data.firstName }} {{ data.lastName }}
    //-       .nz-column(sortable="lastName")
    //-         label
    //-           button.nz-fab(color="critical")
    //-             i.nz-icon(class=icon("mdi/git"))
    //-         ng-template(#content let-data)
    //-           button.nz-button(color="accent" variant="filled") {{ data.id }} Content
    //-       .nz-column(sortable="lastName" width="60")
    //-         label Életkor
    //-         ng-template(#content let-data) {{ data.age }}

    //- br
    //- .nz-checkbox(label-position="before") Checbox
    //- .nz-radio(label-position="after") Radio
    //- br
    //- .nz-checkbox(label-position="after") Checkbox
    //- .nz-radio(label-position="before") Before

    //- .nz-checkbox-group(name="xyz")
    //-   .nz-checkbox(true-value="1") Checkbox 1
    //-   .nz-checkbox(true-value="2") Checkbox 2
    //-   .nz-checkbox(true-value="3") Checkbox 3
    //-   .nz-checkbox(true-value="4") Checkbox 4

    //- .nz-radio-group(name="something")
    //-   .nz-radio(true-value="1") Radio 1
    //-   .nz-radio(true-value="2") Radio 2
    //-   .nz-radio(true-value="3") Radio 3
    //-   .nz-radio(true-value="4") Radio 4

    button.nz-button(on-click="showAlert()") Show Alert
    br
    .nz-form-field(style="width: 250px")
      label Select Field
      .nz-select(bind-data-source="users")
        ng-template(#selected let-item) {{ item.name }}
        ng-template(#item let-item) {{ item.name | highlight }}
      .nz-postfix
        i.nz-arrow-down

    br
    .nz-form-field(style="width: 250px")
      label Default templates
      .nz-select(bind-data-source="users" #select)
      .nz-postfix
        i.nz-arrow-down(on-click="select.opened=!select.opened")

    br
    .nz-form-field(style="width: 250px")
      label Label
      .nz-prefix Prefix
      input.nz-input(id="my-id")
      .nz-postfix Postfix


    //- router-outlet


